:root {
  --color-blue-gray: rgb(199, 221, 239);
  --color-gray: rgb(196, 204, 210);
}

.App {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  /* align-content: center; */
  margin: 0px auto;
  text-align: center;
  width: 500px;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App { width: 95vw }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
@media only screen and (min-width: 600px) {
  .App { width: 570px }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
@media only screen and (min-width: 768px) {
  .App { width: 720px }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
@media only screen and (min-width: 992px) {
  .App { width: 900px }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
@media only screen and (min-width: 1200px) {
  .App { width: 1000px }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h4 {
  margin: 4px 0;
}

h5 {
  margin: 2px 0;
  font-weight: 300;
}

#label-input-label {
  width: 100%;
  margin: 16px 0 4px;
}

#label-input {
  border: 1px inset var(--color-gray);
  height: 2em;
  width: 70%;
  max-width: 300px;
  margin: 12px 0 0px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#file-input-label {
  border: 1px solid var(--color-blue-gray);
  border-radius: 4px;
  width: 150px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}

#preview-image {
  vertical-align: middle;
  max-width: 150px;
  max-height: 180px;
}

span {
  margin: 10px 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#file-input {
  display: none;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#search-box {
  height: 2em;
  display: flex;
  width: 80%;
  max-width: 340px;
  border: 1px inset var(--color-gray);
}

#search-input {
  border: none;
  flex: 1;
}

.audio-image {
  padding: 6px;
}

.form-button {
  width: 110px;
  height: 2em;
}
